.log
.env
ca.pem
./dist
.DS_Store
.jest-*
lib
node_modules
npm-debug.log
lerna-debug.log
.nyc_output
*.log
launchpad
docs/
tsconfig.tsbuildinfo
dump.rdb
.scannerwork
packages/*.js
vendor
tmp
*.sql
stub-backup
packages/monolith/migration/
.env.production
monoverse.json
!prisma/migrations/*/*.sql
exports/**/*
.cache
scripts/*.json